# python==3.10 requirements
numpy
numba
vtk=9.3
setuptools>=64
pymol-open-source
rdkit
openeye-toolkits
langgraph
# ftpl agent dependencies from conda-forge:
dimorphite-dl
# other ftpl agent LLM providers (default: gemini)
#- anthropic
#- openai
scipy
requests
matplotlib
seaborn
pandas
joblib
scikit-learn
networkx
pytest
fastapi[standard]
google-genai
python-multipart>=0.0.5
websockets>=10.0
uvicorn[standard]>=0.20.0
