# python==3.10, pip requirements
scipy
requests
matplotlib
seaborn
pandas
joblib
scikit-learn
pygraphviz
networkx
pytest
mdanalysis
parmed
fastapi[standard]
google-genai
langgraph
python-multipart>=0.0.5
websockets>=10.0
uvicorn[standard]>=0.20.0
